<p><%= "#{current_player_name} is #{current_player.marker}" %></p>
<p><%= "#{current_player_name}" %> it is your turn, please pick a valid spot.</p><br>
<form method='post' action='get_player_move'>
    <input type='number' name='move_spot'>
    <input type='submit'>
</form>