<div class="form-container">
	<p>Player One, what is your name?</p>
	<form action="/game" method="post">
	    <input type="text" name="player_1" placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>