<div class="form-container">
	<p>Player <span class="player-one">One</span>, what is your name?</p>
	<form action="/game" method="post">
	    <input type="text" name="player_1" autofocus="autofocus" placeholder="Enter your name">
	    <input type="submit">
	</form>
</div>