<h1 id='header'><%= current_player.marker %> is the winner</h1>
<h2 id='header-player'>Great job <%= current_player_name %></h2>

<p><a href='/'>Play Again</a></p>

<button><a href="/update_csv">Results</a></button>	