body {
  margin: 0;
}

.header-container {
  background-color: #2b3340;
  margin-bottom: 5%;
}

#header {
  width: 248px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header > a {
  position: relative;
  color: white;
  text-decoration: none;
}

#header > a:hover {
  color: white;
}

#header > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#header > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#board { 
  margin: 0 auto;
  margin-top: 25px; 
}

#top-center, #center, #bottom-center {
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
}

#middle-left, #center, #middle-right {
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}

#board tr td { 
  width: 80px; 
  height: 80px; 
  font-family: Helvetica; 
  font-size: 30px; 
  text-align: center; 
}
 
#board tr td:hover {  
  cursor: pointer;
}